:root {
  --primary-color: $(keycolor);
--v171: #17151b;
--v999: #999;
--hf1f: #f1f1f1;
}
.dark-mode {--hf1f: #333}
*, ::after, ::before {
    box-sizing: border-box;
}
html{height:100%;scrollbar-width: thin;scroll-behavior:smooth;}
::-webkit-scrollbar { -webkit-appearance: none; width: 7px; height: 5px;}
::-webkit-scrollbar-thumb {background: gray;}
body{overflow-x:hidden;height:100%;}
iframe{width:100%;border:0}
svg{width:24px;height:24px}
.svg-1{stroke:white;width:34px;height:34px;}
.svg12 {width: 14px;height: 14px;color: rgba(255,255,255,0.4);}
.svg14 svg{width:14px;height:14px}
.svg12sv svg {width:12px;height:12px}
.dark-mode{background-color:#1a1a1a;color:white}
.modeSwitch{position:relative;display:inline-block;width:32px;height:17px}
.modeSwitch input{opacity:0;width:0;height:0}
.toggleSwitch{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.28);transition:.3s;border-radius:17px}
.toggleSwitch:before{position:absolute;content:"";height:13px;width:13px;left:2px;bottom:2px;background-color:whitesmoke;transition:.4s;border-radius:50%}
input:focus+.toggleSwitch{box-shadow:0 0 1px #2196f3}
.dark-mode input+.toggleSwitch:before{transform:translateX(15px)}
body{font-family:fira sans,sans-serif;counter-reset:section;background-color:#e8ebf5;color:#222d34;font-size:15px;line-height:1.4;}
a{color:#222d34;text-decoration:none}
a:hover,.infolimit a,::marker{color:$(keycolor)}
.link a,.dark-mode .link a,#allert a{color:$(keycolor)}
#sidebar a{color:#222}
.m-0,body,#sidebar .title,.flat,figure,#PopularPosts2 .title,.related.style-2,#main .widget .title,#feed .title,#wpac-rating{margin:0}
.pen .separator a,.page-view .separator a{padding:0 !important}
.max-w,.fw .mx-feed,#notification .widget{max-width:$(b.w)}
.ads img,#sidebar .widget-content img{max-width:100%;height:auto;}
.pv main .max-w{max-width:1080px}
.h-14{height:14px;vertical-align:middle;}
.w-180{width:180px}
.w-50p{max-width:600px}
.w-25{width:25px}
.wh-18-svg svg{width: 18px;height: 18px}
.mra,#notification .widget{margin-right:auto}
.mla,#notification .widget{margin-left:auto}
.mta{margin-top:auto}
.p-y6x12{padding:6px 12px}
.p-y5x20{padding:5px 20px}
.p-y0x15{padding:0 15px}
.p-y7x15-a a{padding:7px 15px}
.p-y10x15{padding:10px 15px;}
.p-y12x15{padding:12px 15px}
.p-15,#disqus_thread{padding:15px}
.p-20,#downloadlist{padding:20px}
.p-10,.prev,.all,.next,.pv .m-GwWBFmbcL{padding:10px}
.p-5,.ofz{padding:5px}
.p-6{padding:6px}
.p-13,#sidebar .widget-content{padding:13px}
.pr-15{padding-right:15px}
.pl-15{padding-left:15px}
.px-5 {padding-left: 5px;padding-right: 5px}
.pr-10{padding-right:10px}
.mr-13{margin-right:13px}
.mr-20{margin-right:20px}
.ml-20,#downloadlist .db{margin-left:20px}
.ml-7{margin-left:7px}
.pv .ml-7{margin-left:auto}
.ml-0{margin-left:0}
.md-ml-0{margin-left:0}
.mr-40{margin-right:40px}
.mr-7,h2 > svg,h3 > svg{margin-right:7px}
.mt-5{margin-top:5px}
.mt-15,.ch-bottom,.ch-top{margin-top:15px}
.mt-35{margin-top:35px}
.mb-2{margin-bottom:2px}
.mx-5{margin-right: 5px;margin-left: 5px}
.mb-6{margin-bottom:6px}
.mt8{margin-top:8px}
.mt-24,#disqus_thread,.svo .mt-sv15{margin-top:24px}
.mt-n100{margin-top:-100px}
.mb-13{margin-bottom:13px}
.mb-20,.not-home-mb20{margin-bottom:20px}
.mb-0{margin-bottom:0}
.mb-15,.ch-top,#disqus_thread,.pv .m-GwWBFmbcL{margin-bottom:15px}
.label-view .mb-20lv, #sidebar .widget:last-child{margin-bottom:20px}
.mr-3{margin-right:3px}
.mt-0{margin-top:0}
#main .widget-content,#slide .widget-content{margin:13px}
.grid,#sidebar,.overlay,.flat,#Blog1,.ChapterNav,.style-2{display:grid}
.flex,#sidebar .list-label-widget-content .label-name,#PageList2,.score,.ofz,.slider-nav,.nextPrev a{display:flex}
.block,.b-img img,.homechapter a,.icon,figure .separator img,.block-a a{display:block}
.header-image-wrapper img{transition:.3s;max-height:50px;max-width: 150px;}
.header-image-wrapper img:hover{transform:scale(1.2);}
.i-mage img{position:absolute;height:100%;left:0;top:0;}
.i-block{display:inline-block}
.i-flex{display:inline-flex}
.hidden,.post .separator,.hi .index-list,.hi #downloadlist,#Viewer-module,#sidebar .item-byline,#notification h3,#recommendations .title,#ecHome,#myUL li:not([data*="Chapter"]),.post #character{display:none}
.gtc-3c {grid-template-columns: auto auto 1fr;gap: 10px;}
.gtr-mc{grid-template-rows:max-content}
.gtc-header{grid-template-columns:auto 1fr auto}
.gtc-main{grid-template-columns:1fr $(s.w)}
.gtc-175fr{grid-template-columns:175px 1fr}
.gtc-1frxa{grid-template-columns:1fr minmax(100px,150px) minmax(100px,150px);border-bottom:solid 1px #eceff5}
.gtc-f141a{grid-template-columns:repeat(auto-fill,minmax(141px,1fr))}
.hfeed{grid-template-columns:repeat(auto-fill,minmax(141px,1fr))}
.gtr-a1fa{grid-template-rows:auto 1fr auto}
.gtc-rx1fr{grid-template-columns:1fr 1fr}
.gtc-100a1fr{grid-template-columns:minmax(100px,auto) 1fr}
.gtc-4x{grid-template-columns:repeat(4, 1fr);padding:5px}
.gtc-101{grid-template-columns:101px auto}
.gtc-142{grid-template-columns:repeat(auto-fill,minmax(114px,1fr))}
.gtc-4460{grid-template-columns:repeat(auto-fill,minmax(170px,1fr))}
.a1{grid-area:a1;}
.a2{grid-area:a2;}
.a3{grid-area:a3;}
.a4{grid-area:a4;}
@media screen and (min-width:1024px){.gtc-235fr{grid-template-columns:235px minmax(200px,auto);grid-template-areas: "a1 a2""a3 a3""a4 a4";}
}
.ChapterNav{grid-template-columns:repeat(3,1fr)}
.aic,.nextPrev a{align-items:center}
.pcc{place-content:center}
.pic{place-items:center}
.jic{justify-items:center}
.bsc{background-size:cover}
.fdcr{flex-direction:column}
.jcsb,.label-name,.ofz{justify-content:space-between}
.jcc,.slider-nav{justify-content:center}
.jsc{justify-self:center}
.tac,.ChapterNav,.score,.ads .widget-content,#notification .widget-content{text-align:center}
.lsn,.Label,.flat,.related.style-2 li,#downloadlist ul,#myUL{list-style:none}
.Label ul,.flat,.pl-0,.related.style-2,.dsq-widget-list,#downloadlist ul,#myUL{padding-left:0}
.bg-main,.pagecurrent,.all,.releases,#PageList2{background:linear-gradient(to right, $(keycolor) , $(secclr))}
.header-background {background-color: $(keycolor)}
.jsfe{justify-self:flex-end}
.lh-60{line-height:60px}
.lh-42{line-height:42px}
.lh-37 {line-height:37px}
.lh-25px {line-height:25px}
.lh-26{line-height:26px}
.lh-20{line-height:20px}
.lh-1d7,.homechapter{line-height:1.7}
.lh-35{line-height:35px}
.gg-30{grid-gap:30px}
.gg-20,#Blog1{grid-gap:20px}
.gg-15{gap:15px}
.gg-10,.style-2{gap:10px}
.g5 {gap: 5px}
.fw-600,#sidebar #BlogArchive1 a,.subItem li .chpName{font-weight:600}
.fw-500{font-weight:500}
.fsi{font-style:italic}
#sidebar .c-fff ,.c-fff,#sidebar .overlay a,.date,.post-labels,.white\:hover:hover,.pagecurrent,.all,.all:hover{color:white}
.dim\:hover:hover{filter:brightness(80%)}
.c-666{color:#666}
.c-ddd{color:#ddd}
.c-999,.c-999-a a{color:var(--v999)}
.c-22{color:#222d34}
.c-555{color:#555}
.bg-171{background-color:var(--v171)}
.bg-999{background-color:var(--v999)}
.c-cc,#PageList2 a:hover{color:#ccc}
.bn{border:none}
.bg-trans{background:rgba(0,0,0,.18)}
.bg-222{background:#222}
.bt{background-color:transparent}
.r3,.col section .counter::before{border-radius:3px}
.tlr-5{border-top-left-radius:5px;border-top-right-radius:5px;}
.r4{border-radius:4px}
.r5{border-radius:5px}
.r50p{border-radius:50%}
.r-50{border-radius:50px}
#sidebar .widget,.r2,.FeaturedPost,#PopularPosts2,#disqus_thread,.ChapterNav,#downloadlist,.ofz,#main .HTML:not(.ads),.alr,.char:hover,.pv .m-GwWBFmbcL,#feed .widget,.tab li{border-radius:$(border.radius)}
.r2f {border-radius: 2px;border: .5px solid var(--primary-color);color: var(--primary-color);}
#sidebar .title {border-top-left-radius:$(border.radius);border-top-right-radius:$(border.radius);}
.c-fff-force {color: white !important;}
.tl-r3{border-top-left-radius:3px}
.bl-r3{border-bottom-left-radius:3px}
.br-r3{border-bottom-right-radius:3px}
.tr-r3{border-top-right-radius:3px}
.cp,.feather-filter,#prev,#next{cursor:pointer}
.feather-sun, .feather-moon{width:14px;height:14px;fill:white;stroke:white}
.feather-star{width:15px;height:13px;fill:$(keycolor);stroke:$(keycolor)}
.feather-bell{stroke:white;}
.unset{all:unset}
#sidebar .widget,.bc-fff,.FeaturedPost,#PopularPosts2,#allert .widget-content,#disqus_thread,.index-list,#downloadlist,#main .HTML:not(.ads),.pv .m-GwWBFmbcL,#feed .widget{background-color:white}
#sidebar .widget,.s1,.FeaturedPost,#PopularPosts2,#disqus_thread,#downloadlist,#main .HTML:not(.ads),#feed .widget{box-shadow:1px 3px 8px rgba(49,49,49,0.1)}
.s2{filter:drop-shadow(1px 1px 2px rgba(0,0,0,0.7))}
#sidebar .title{font-size:17px;padding-bottom:15px}
#sidebar .title,.c-theme,#PopularPosts2 .title,#downloadlist .db,#main .widget .title,#feed .title{color:$(keycolor)}
.col{grid-template-columns:repeat(3,1fr)}
.col section:nth-child(1){grid-column:1 / -1;}
.col img,.full,.post-thumb,.page-view img{width:100%}
.col section:nth-child(n+2) .post-title,.col section:nth-child(n+2) .byline,.col section:nth-child(n+2) .date{display:none}
.col section:nth-child(n+2) img,.ofc{height:135px;object-fit:cover}
.col section:nth-child(1) img{height:165px;object-fit:cover;object-position:top}
.col section:nth-child(1) .ov-title{background:linear-gradient(to bottom,#0000,#000)}
.col section:nth-child(n+2){margin:7px}
#sidebar, #main,.min{grid-auto-rows:min-content}
.relative{position:relative}
.absolute{position:absolute}
.col section .counter::before{counter-increment:section;content:counter(section);position:absolute;top:6px;left:4px;background:$(keycolor);color:white;padding:3px 7px;font-size:13px}
.ov-img, .ov-title{grid-row:1 / -1}
.ov-img{grid-column:1 / -1}
.ov-title{grid-column:1 / -1;align-self:self-end;padding:10px 15px;overflow:hidden}
.date,#sidebar .post-labels{font-size:13px}
#sidebar .post-labels,.wsn{white-space:nowrap}
.clamp{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
#sidebar .post-title,.fwn{font-weight:500}
.toe{text-overflow:ellipsis}
.oh,#PopularPosts2,#main .widget,#feed .widget,#sidebar .widget,#HTML3{overflow:hidden}
#sidebar #PopularPosts1{padding:0 0 3px 0}
#sidebar #PopularPosts1 .title{padding-bottom:0}
.ttu{text-transform:uppercase}
.fz-0d95r{font-size:.9rem}
.fs-30{font-size:30px}
.fs-25{font-size:25px}
.fs-20{font-size:20px}
.fs-9{font-size:9px}
.fs-14,.Label .label-name,.BlogArchive .widget-content,#allert .widget-content,.FeaturedPost .post-labels,.ChapterNav{font-size:14px}
.fs-15,.index-list,#downloadlist ul,#feed .title,#sidebar .title,.fw #main .title{font-size:15px}
.fs-13,.blog-pager{font-size:13px}
.fs-12,.share-icon{font-size:12px}
.fs-11{font-size:11px}
.fs-17{font-size:17px}
.p-3y6x{padding:3px 6px}
.pb-15{padding-bottom:15px}
#downloadlist ul{max-height:500px;overflow:auto}
.info{color:#00529B;background-color:#BDE5F8}
.success{color:#4F8A10;background-color:#DFF2BF}
.warning{color:#9F6000;background-color:#FEEFB3}
.error{color:#D8000C;background-color:#FFBABA}
.boxs{padding:10px;margin:10px 0}
.list-label-widget-content:hover,#download:hover{scrollbar-width:thin}
.list-label-widget-content,#download{max-height:300px;scrollbar-color:$(keycolor) #d4dae6;scrollbar-width:none;overflow:scroll;-webkit-overflow-scrolling:touch;}
.list-label-widget-content:hover,#download:hover{overflow-y:scroll}
.list-label-widget-content::-webkit-scrollbar,#download::-webkit-scrollbar{width:7px}
.list-label-widget-content::-webkit-scrollbar-track,#download::-webkit-scrollbar-track{background:#d4dae6}
.list-label-widget-content::-webkit-scrollbar-thumb,#download::-webkit-scrollbar-thumb{background:$(keycolor)}
.list-label-widget-content li,#downloadlist li{border-bottom:solid 1px #eceff5;padding:7px 10px}
.list-label-widget-content li:hover{background:#f1f1f14f}
.flat{grid-template-columns:1fr 1fr;grid-gap:6px}
.flat .archivedate{background:#f8f9fb;padding:3px;text-align:center;line-height:28px}
.post-count{font-size:12px;color:#999;margin-left:5px;font-weight:normal;}
.post-count::before{content:"("}
.post-count::after{content:")"}
.cloud-label-widget-content .label-size{padding:3px 6px;border:1px solid $(keycolor);display:inline-block;margin-bottom:5px}
#sidebar .cloud-label-widget-content .label-count{margin-left:5px;color:$(keycolor);font-weight:bold}
::selection{color:white;background:$(keycolor)}
.PopularPosts .post-title{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.item-thumbnail:hover img{filter:brightness(50%);transition:.2s}
#popular .PopularPosts .item-thumbnail img {width: 58px;height: 75.85px;object-fit: cover;border-radius: 2px;}
.bb-1pxsf,.ofz,#main .widget .title,#sidebar .title,#feed .title{border-bottom:1px solid #f1f1f1}
.bt-1pxs3{border-top:1px solid #333333a1}
.bb-2pxsec{border-bottom:solid 2px #eceff5}
.bt-2sf{border-top:2px solid #f1f1f1}
.s3f5{border-bottom:solid 3px #f5f7fa}
.y9x19p,#main .widget .title,#slide .widget .title,#sidebar .title,#feed .title{padding:8px 15px}
.yb10m,#main .widget .title,#slide .widget .title{margin-bottom:10px}
.m-3{margin:3px}
.m-y0x4-li li{margin:0 4px}
.y10x0{padding:10px 0}
.y3x5p{padding:3px 5px}
.y6x0p{padding:6px 0}
.y5x10p{padding:5px 10px}
.y0x9p{padding:0 9px}
.label{padding:4px 12px;color:$(keycolor);border:1px solid $(keycolor);background-color:$(keycolor)17;}
.label:hover{background-color:$(keycolor);color:white}
.yt8m{margin-top:8px;margin-bottom:8px}
.pv .mtn150{margin-top:-150px}
.pt-140p{padding-top:140%}
.pt-137p{padding-top:137%}
.y6x11p{padding:6px 11px}
.fd\:hover:hover{background-color:#fdfdfd}
.bc-f5{background-color:#f5f7fa}
.bc-2b{background-color:#2b2b2b}
.bc-22{background-color:#222}
.bc-33{background-color:#33333380}
.bc-e8{background-color:#e8ebf5}
.bg\:hover:hover{background:$(keycolor)}
.h-140{height:140px}
.h-220 img{height:199px}
.h-200{height:125px}
.h-135{height:135px}
.h-60{height:60px;width:40px;}
.h-17{height:17px}
.full-i img{width:100%;object-fit:cover;border-radius:2px;}
.b-0{bottom:0}
.l-0{left:0}
.t-3 {top: 3px}
.t-5{top:5px}
.r-5{right:5px}
.b\(50\){filter:brightness(50%)}
.dt{float:right}
[dir="rtl"] .dt{float:left}
.PageList [data]:before{margin-right:5px;vertical-align:sub}
[data="Series"]:before {content: url('https://api.iconify.design/ic:twotone-grid-view.svg?color=rgba(255,255,255,.6)&height=16');}
[data="Home"]:before {content: url('https://api.iconify.design/ant-design:home-twotone.svg?color=rgba(255,255,255,.6)&height=16');}
[data="Other"]::before {content: url('https://api.iconify.design/icon-park-outline:other.svg?color=rgba(255,255,255,.6)&height=16');}
[data="Komik"]::before {content: url('https://api.iconify.design/bx/bxs-book-reader.svg?color=rgba(255,255,255,.6)&height=16');}
[data="Manga List"]::before {content: url('https://api.iconify.design/bx/bx-list-minus.svg?color=rgba(255,255,255,.6)&height=16');}
[data="Bookmark"]::before {content: url('https://api.iconify.design/fluent/library-20-filled.svg?color=rgba(255,255,255,.6)&height=16');}
.chap-by-tag a:visited{color:gray}
.chap-by-tag div:not(:last-child){border-bottom:1px dashed $(keycolor)}
#Label2 .label-count{top:-5px;right:-8px;background:$(keycolor);width:16px;height:16px}
.share-icon{padding:2px 7px;margin:5px}
.facebookThis{background:#1877f2}
.twitterThis{background:#1da1f2}
.whatsappThis{background:#01ba6d}
.pinterestThis{background:#e81737}
.share-icon svg{fill:white;margin-right:4px;width:20px;height:20px}
.fill-f{fill:white}
.vam{vertical-align:middle}
.o5{opacity:.5}
.ofc-f img{width:150px;height:200px;object-fit:cover}
.f-1{flex:1}
.index-list{border-bottom:1px solid #eceff5}
.index-list a{display:block;padding:11px 15px}
.FeaturedPost .post-labels a{color:#606060;display:inline-block;background:#e8e8e9;padding:1px 4px}
.feather-user{width:15px;height:15px;stroke:$(keycolor)}
.feather-tag{width:15px;height:15px;vertical-align:text-top;margin-right:3px}
.dark-mode .header-background,.dark-mode #sidebar .widget,.dark-mode .bc-fff, .dark-mode .FeaturedPost, .dark-mode #PopularPosts2, .dark-mode #allert .widget-content, .dark-mode #disqus_thread,.dark-mode .next,.dark-mode .prev,.dark-mode .index-list,.dark-mode #downloadlist,.dark-mode #main .widget:not(.Blog),.dark-mode .m-GwWBFmbcL,.dark-mode #feed .widget{background-color:#222;}
.dark-mode .bb-1pxsf, .dark-mode #main .widget .title,.dark-mode .ofz,.dark-mode #sidebar .title,.dark-mode #feed .title{border-bottom:1px solid #333}
.dark-mode #sidebar a,.dark-mode a,.dark-mode .next,.dark-mode .prev,.dark-mode .bt-2sf,.dark-mode #downloadlist{color:#ccc}
.dark-mode .list-label-widget-content li,.dark-mode .gtc-1frxa,.dark-mode .index-list,.dark-mode #downloadlist li{border-bottom:solid 1px #333333d6}
.dark-mode .list-label-widget-content li:hover,.dark-mode .fd\:hover:hover{background:#33333361}
.dark-mode .list-label-widget-content,.dark-mode #download{scrollbar-color:$(keycolor) #333333d6}
.dark-mode .list-label-widget-content::-webkit-scrollbar-track,.dark-mode #download::-webkit-scrollbar-track{background:#333333d6}
.dark-mode .bc-f5{background-color:#3333338f}
.link\:hover:hover .ck{color:$(keycolor)}
.dark-mode .flat .archivedate{background:#2b2b2b}
.dark-mode .bt-2sf{border-top:2px solid #333333cf}
.dark-mode .bb-2pxsec{border-bottom:solid 2px #333333cf}
.dark-mode .c-ee{color:#eee}
.dark-mode .bc-e8{background-color:#2b2b2b}
.bg-photo-container{overflow:hidden;position:relative;}
#custom-hero,#custom-hero img,.limit img{position:absolute;top:0;width:100%;height:100%;object-fit:cover;}
.limit img {border-radius: 2px}
.post #custom-hero{display:none;}
.hero-background{height:264px;background-position:center;background-size:cover;width:100%;transform:scale(1.1);filter:blur(5px) saturate(2) brightness(70%);}
@media (max-width:768px){.gtc-175fr{grid-template-columns:125px 1fr}
}
@media (max-width:900px){.gtc-main{grid-template-columns:auto}
}
@media (max-width:375px){.gtc-175fr{grid-template-columns:auto}
.md\:tac{text-align:center}
.fdc-375{flex-direction:column}
}
@media (max-width:600px){#Text1{padding-right:13px;padding-left:13px}
}
@media (max-width:1024px){
.calc-wn20 {width: calc(100% - 20px);margin-right: auto;margin-left: auto;}
.gtc-235fr {grid-template-columns: auto;grid-template-areas: "a1""a2""a3""a4";}
.md-w120{width:120px}
.hero-background{height:170px;}
.md-auto{margin:0 auto}
.module-ctrl.top h1{font-size:1.2rem}
.md-ml-0{margin-left:revert}
.gtc-header{grid-template-columns:auto 1fr;padding:0 13px}
.fdc{flex-direction:column}
#PageList1{justify-self:flex-start}
#Header1{display:flex;align-items:center}
#PageList1,.md\:none{display:none}
.md\:jcc{justify-content:center}
.right{float:right}
.w-180,.md\:full,#PageList1{width:100%}
#PageList1 ul{padding-left:0}
#PageList1 li{border-bottom:1px solid #f1f1f1}
.dark-mode #PageList1 li{border-bottom:1px solid #333}
}
@media (max-width:900px){
.sm\:dn,#Query-input{display:none;}
.menu-item{width:35px;height:35px;overflow:hidden;}
.right{width:35px;height:35px;padding:10px;background:rgba(0,0,0,.4);margin-left:4px;border-radius:5px;display:grid;place-content:center;}
}
@media (min-width:1025px){.search,.menu{display:none}
}
.completed{color:green}
.dropped{color:orangered}
.blog-pager{margin-top:20px;border-top:1px solid #eceff5;padding-top:10px;padding-bottom:10px;text-align:center}
#blog-pager a,.showpageOf,.pagecurrent{padding:9px 16px;margin:5px;border-radius:2px;background-color:#eceff5;display:inline-block}
.dark-mode #blog-pager a,.dark-mode .showpageOf{background-color: #16151d;}
.pagecurrent {background: var(--primary-color);}
.dark-mode .showpageOf,.dark-mode .pagecurrent{border-color:#333333d6;color:#ccc}
.dark-mode #blog-pager a, .dark-mode .blog-pager{border-color:#333333d6}
.pagecurrent{border:none}
.box{box-sizing:border-box}
.icon{height:18px;width:102px;margin-bottom:7px}
.z-1{z-index:1}
.scale-2{scale:2}
.entry-title{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}
.gtc-1frxa:last-child,.index-list:last-child{border-bottom:none}
.label-view #Blog1{grid-gap:0}
#content{display:none}
.score{position:absolute;right:0;z-index:1;padding:3px 5px;font-size:12px;font-weight:500;bottom:0;background:rgba(0,0,0,.8);color:rgba(255,255,255,.9)}
.f1{flex:1}
[data*="Chapter"]{margin-right:5px;color:$(keycolor)}
.ex[data]{display:none}
.ex[data*="Chapter"]{display:block}
.xe[data]{display:inline-flex}
.xe[data*="Chapter"]{display:none}
.hot::before{content:"H";background:orangered;color:white;font-size:14px;padding:1px 4px;margin-right:4px;border-radius:4px;}
.new::before{content:"N";background:limegreen;color:white;font-size:14px;padding:1px 4px;margin-right:4px;border-radius:4px;}
.sac{scroll-snap-align:center}
.sac {scroll-margin-top: 5rem;}
.widget-content.list-label-widget-content::-webkit-scrollbar{display:none}
textarea:focus, input:focus{outline:none}
sup{font-size:15px;vertical-align:top}
.slide{overflow-x:auto;scroll-snap-type:x mandatory;scrollbar-width:none;scroll-behavior:smooth;}
.slide{align-content:center;display:grid;grid-template-columns:repeat(10,minmax(145px,1fr));grid-gap:1em;}
.slide::-webkit-scrollbar{display:none;}
:is(#feed,.slide,#recommendations)  img:hover{transform: scale(1.2);}
:is(#feed,.slide,#recommendations) img {transition: .3s;}
#s11{width:0;height:0;}
.com{top:18px;left:-29px;transform:rotate(-45deg);background:$(com);color:white;padding:2px 24px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);}
.ong{top:17px;left:-25px;transform:rotate(-45deg);background:$(ong);color:white;padding:2px 24px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);}
.soo{top:24px;left:-33px;transform:rotate(-45deg);background:$(soo);color:white;padding:2px 24px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);}
.drp{top:18px;left:-29px;transform:rotate(-45deg);background:$(drp);color:white;padding:2px 24px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);margin-left:4px;}
.blob{background:black;border-radius:20px;box-shadow:0 0 0 0 rgba(0, 0, 0, 1);margin:5px 10px;height:12px;width:19px;transform:scale(1);animation:pulse-black 2s infinite;display:inline-block;}
.blob.key{background:$(keycolor);box-shadow:0 0 0 0 $(keycolor)d1;animation:pulse-red 2s infinite;}
@keyframes pulse-red{0%{transform:scale(0.95);box-shadow:0 0 0 0 $(keycolor)d1;}
 70%{transform:scale(1);box-shadow:0 0 0 10px rgba(255, 82, 82, 0);}
 100%{transform:scale(0.95);box-shadow:0 0 0 0 rgba(255, 82, 82, 0);}
}
.pv figure .separator a,.p figure .separator a, .pen .separator a{pointer-events:none;}
.dark #listItem{background:#1b1b1b;}
.list-judul{padding:9px 19px;border-bottom:1px solid #ccd0d7;}
.dark-mode .list-judul{border-bottom:1px solid #514a4a;}
.list-judul h3{margin:0;font-size:19px;font-weight:500}
.searcch{padding:9px 8px}
input#searchchapter{font-weight:300;background:#e8ebf5;box-shadow:none !important;width:100%;height:34px;font-size:14px;line-height:1.42857143;color:white;border:none;border-radius:3px;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;padding:10px;}
.char:hover{background-color:$(keycolor)1c}
.dark-mode input#searchchapter,.dark-mode .char:hover{background:#171616}
input#searchchapter::placeholder{color:#555}
.ep-item{padding:0;list-style:none;margin:0;display:flex;flex-wrap:wrap;}
.ep-right{margin-right:9px}
ul.ep-item::-webkit-scrollbar{width:2px;height:2px}
ul.ep-item::-webkit-scrollbar-thumb{border-radius:7px;background-color:#a20a0a}
.ep-item .char{padding:11px 15px 11px 8px;padding-top:11px;font-size:14px;position:relative;width:100%;display:flex;flex-wrap:nowrap;align-items:center;justify-content:space-between;flex:0 0 33%;max-width:33%;}
@media (max-width:768px){.ep-item .char{flex:100%;max-width:50%}
}
.ep-item .char:first-child{padding-top:11px}
.ep-item .char:last-child{border-bottom:none;}
.ep-right .eps{background:$(keycolor);padding:10px;color:#fff;display:block;text-align:center}
.ep-left,.ep-left .eps-jdl{overflow:hidden;width:100%}
.ep-left{flex:1}
.ep-left .eps-jdl{line-height:21px;text-overflow:ellipsis;white-space:nowrap;float:left}
span.eps a{color:#fff}
span.eps a:hover,span.eps-jdl a:hover{color:#a20a0a}
span.eps-jdl a{color:$(keycolor);}
.file-list span{font-size:7px}
.file-list span.eps-date{font-size:14px}
.alr{margin-bottom:18px;box-shadow:0 2px 3px rgba(0,0,0,.1);color:#fff;background:#d7382d;font-size:13px;grid-template-columns:50px 1fr;}
.alr.royal{background:royalblue}
#Viewer-module:checked ~ .module-ctrl, .module-ctrl *{transition:.2s;}
.module-ctrl{max-height:0;opacity:0;visibility:hidden;overflow:hidden;}
#Viewer-module:checked ~ .module-ctrl.top, #Viewer-module:checked ~ .module-ctrl.bottom, .module-ctrl{position:fixed;width:100vw}
.module-ctrl{background-color:wheat}
.dark-mode .module-ctrl{background-color:#514d4d}
#Viewer-module:checked ~ .module-ctrl.top, .module-ctrl.top{top:0;}
#Viewer-module:checked ~ .module-ctrl.bottom{bottom:0;}
#Viewer-module:checked ~ .module-ctrl{max-height:200px;opacity:1;visibility:visible;}
.check-box img{max-width:100%;height:auto;margin:0 auto;width:100%}
.series-chapterlist{list-style:none;padding:0;font-size:15px;}
.flexch-infoz{padding:5px;}
.series-chapterlist li{background:#f7fafc;border-bottom:solid 1px #edf2f7;}
.flexch{display:grid;grid-template-columns:50px auto 50px;align-items:center;}
.series-chapterlist li time{display:block;}
.flexch-book, .flexch-dllink{position:relative;padding:10px;background:#edf2f7;font-size:25px;color:#777;text-align:center;}
.series-chapterlist li time{font-size:12px;}
.series-chapterlist li:hover svg{color:white;}
.series-chapterlist li:hover{color:#fff;}
.series-chapterlist li:hover a{color:#fff !important;}
.series-chapterlist li:hover .flexch-book, .series-chapterlist li:hover .flexch-dllink{background:#020202;}
.series-chapterlist li svg{color:$(keycolor)}
.dark-mode .series-chapterlist li{background:#3b3c4c;border-bottom:solid 1px #2f303e;}
.dark-mode .flexch-book, .dark-mode .flexch-dllink{background:#48495b;color:#eee;}
.dark-mode .series-chapterlist svg{color:#eee;}
.series-chapterlist li:hover{background:$(keycolor)e6;}
.ch-title{font-weight:normal;}
.ch-title span{font-weight:800;color:$(keycolor)}
.ch-title svg{width:20px;height:20px;vertical-align:middle;}
.flexch-infoz a:visited,.flexch > a:visited svg{color:red;}
.fit .header-background,.fit #disqus_thread,.fit footer{display:none;}
.fl-box{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;display:flex;align-items:center;justify-content:center;transition:all .2s ease;opacity:0;visibility:hidden;padding:5px;}
.dl-box{width:100%;max-width:500px;max-height:90%;display:flex;margin:0 auto -50%;background-color:white;border-radius:8px;transition:inherit;z-index:3;overflow:hidden;position:relative;box-shadow:0 10px 8px -8px rgb(0 0 0 / 12%);padding:10px;}
#allert .Text{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;display:flex;align-items:center;justify-content:center;transition:all .2s ease;opacity:0;visibility:hidden;padding:5px;}
#allert .widget-content{width:100%;max-width:500px;max-height:90%;margin:0 auto -50%;background-color:white;border-radius:8px;transition:inherit;z-index:3;position:relative;box-shadow:0 10px 8px -8px rgb(0 0 0 / 12%);}
.dark-mode .dl-box{background-color:#222}
#dl-module:checked ~ .fl-box{opacity:1;visibility:visible;background:rgba(0,0,0,.8);}
#dl-module:checked ~ .fl-box .dl-box{margin:0 auto;}
.mdl-close{z-index:1;padding:0;transform:rotate(45deg);}
.close{background:$(keycolor);border-radius:99rem;color:white;}
.fl-close{position:absolute;right:-.6rem;top:.1rem;min-width:3rem;z-index:1;padding:0;height:3rem;transform:rotate(45deg);}
.dl-box table{width:100%;}
.dl-box tbody{text-align:center;}
.dl-box td:first-child, .dl-box th:first-child{text-align:left;}
.dl-box td, .dl-box th{padding:.5rem;}
.dl-box .num{color:$(keycolor);font-weight:700;}
.dl-box .btn{font-size:.75rem;font-weight:700;padding:0 1.5rem;}
.btn{cursor:pointer;padding:.5rem 1.5rem;display:inline-block;vertical-align:top;text-align:center;line-height:2rem;width:auto;background-color:$(keycolor);color:var(--text);min-width:3rem;border:0;border-radius:5rem;}
#buttonDisqs {padding: .375rem 2.625rem;line-height: 1.5;background: $(keycolor);border-radius:$(border.radius);color: white;cursor: pointer;}
#scInput{width:100%;color:$(keycolor);font-family:inherit;padding:7px 10px;border:1px solid $(keycolor)70;border-radius:3px;background-color:$(keycolor)17;}
#myUL{display:flex;flex-wrap:wrap;gap:10px;line-height:1.5;max-height:300px;overflow-y:scroll;overflow-x:hidden;padding-right:5px;scrollbar-width:thin;}
#myUL li{display:flex;padding:5px 10px;border:1px solid $(keycolor)36;font-size:14px;border-radius:5px;flex:1 1 0;justify-content:space-between;min-width:20%;background:$(keycolor)1c;transition:.2s;flex-direction: column;}
#myUL span{display:block;}
@media (max-width: 550px){#myUL li {min-width: 50%}}
span.chapterdate{font-size:12px;color:#888;}
#myUL li:hover{background:$(keycolor);}
#myUL li:hover a{color:white;}
#myUL time {color: #888;font-size: 13px;}
#sidebar .LinkList ul{padding-left:15px;display:grid;grid-template-columns:repeat(3,auto);gap:10px;margin:0;font-size:14px;}
.image{width:100%;height:280px;background-position:center;}
.radio{display:none;}
.images,#homepage-slider{position:relative;}
.images-inner{overflow-x:auto;scroll-snap-type:x mandatory;scrollbar-width:none;scroll-behavior:smooth;}
.images-inner{align-content:center;display:grid;grid-template-columns:repeat(10, 100%);grid-gap:1em;}
.labels{position:absolute;right:15px;bottom:10px;}
.fake-radio{float:right;z-index:4;position:relative;}
#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),#slide3:checked ~ div .fake-radio .radio-btn:nth-child(3){background:$(keycolor);}
.radio-btn{width:9px;height:9px;border-radius:5px;background:gray;display:inline-block !important;margin:0 1px;cursor:pointer;}
.bg::after{content:'';position:absolute;left:0;top:0;width:50%;height:100%;background:linear-gradient(to right,#000 0%,rgba(0,0,0,0) 100%);z-index:1;}
.slideinfo{max-width:1270px;margin:0 auto;position:relative;z-index:2;color:white;display:flex;height:100%;align-items:flex-end;padding:15px;}
.infolimit h3{font-size:23px;font-weight:normal;color:white;}
.infolimit{max-width:700px;padding-bottom:20px;}
.text{font-size:13px;}
.quality{display:inline-block;padding:2px 7px;background:#ffffff;color:#333;vertical-align:top;font-weight:700;font-size:11px;border-radius:2px;margin-right:10px;text-transform:uppercase;}
.gallery{padding:0;display:grid;grid-template-columns:repeat(10, 100vw);grid-template-rows:1fr;overflow:auto;height:280px;scroll-snap-type:both mandatory;margin:0;scrollbar-width:none;scroll-behavior:smooth;}
.swiper-pagination{position:absolute;right:20px;bottom:10px;z-index:20;display:flex;}
.swiper-pagination a{background:white;width:10px;height:10px;border-radius:99rem;padding:6px;margin:7px;}
@media (max-width:1024px){.gallery{height:180px;}
.infolimit p,.swiper-pagination a{display:none;}
}
.gallery::-webkit-scrollbar{display:none;}
.active{scroll-snap-type:unset;}
.gallery li{scroll-snap-align:center;display:inline-block;background-position:center;background-size:cover;position:relative;}
#Label3{max-width:1100px;margin:0 auto;}
#Label3 .cloud-label-widget-content{position:relative;padding:0 10px 0 10px;margin-top:-25px;z-index:4;overflow:hidden;box-shadow:0 2px 3px rgba(0,0,0,.1);}
#Label3 .cloud-label-widget-content .label-name{line-height:50px;color:white;text-transform:uppercase;padding:0 20px;display:inline-block;}
@media (max-width:1024px){#Label3 .cloud-label-widget-content{text-align:center;}
}
.label-more::after{content:attr(data-text);}
.label-more::after{flex-shrink:0;font-size:14px;margin-left:4px;color:white;}
.labelInput ~ .labelAll{transition:.3s ease-in-out;max-height:0;overflow:hidden;}
.labelInput:checked ~ .labelAll{max-height:100vh;margin-bottom:10px;}
.genres-list{float:left;width:100%;}
.genres-list a{width:150px;color:#fff;font-size:15px;cursor:pointer;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;}
.mySlides{display:none}
img{vertical-align:middle;}


/* Search Filter */
.BlogSearch input[type=checkbox]:not(.simple,.hidden){position:relative;-webkit-appearance:none;width:12px;height:18px;border:1px solid #DDD;border-radius:5px;-webkit-transition:.4s;transition:.15s;vertical-align:-25%;display:inline-block;cursor:pointer;outline:0;margin: 0;}
.dark-mode .BlogSearch input[type=checkbox]:not(.simple,.hidden){border-color:#666}
input[type=checkbox]:not(.simple,.hidden):after{content: url('https://api.iconify.design/bi/check.svg?color=%23ddd');position:absolute;top:0;left:0;bottom:3px;transition:.15s;}
.BlogSearch input[type=checkbox]:not(.simple):checked{background:$(keycolor);}
.BlogSearch input[type=checkbox]:not(.simple):checked:after{transition:.15s;}
.BlogSearch input[type=checkbox]:not(.simple).nocolor:checked{background-color:var(--primary);}
.filters button[type="submit"]{color:#fff;transition:all .15s;width:100%;border:1px solid var(--primary-color);background:var(--primary-color);border-radius:.25rem;}
.filters button{font-size:13px;font-weight:400;padding: 3px 6px;}
.filters button[type="submit"]:hover{filter:brightness(90%);}
.filters .searchf{padding:0 15px;margin-left:0;margin-right:0;margin-bottom:8px;}
.filters input:focus,.filters input:hover{color:#d5d5d5;border-color:#404040;}
.filters input{padding:0 8px;border:1px solid #363636;transition:all .15s;width:100%;background:0 0;color:#666;height:30px;border-radius:.25rem;}
.filters{counter-reset:checked;}
.filters input:checked{counter-increment:checked;}
.filters .dropdown-menu li input:checked ~ label {color:$(keycolor);}
.filters .dropdown-menu li label{color:#666;line-height:23px;padding-left:2px;background:0 0!important;border-radius:2px;cursor: pointer;}
.dropdown-menu {scrollbar-width: thin;}
.count:after{content:counter(checked);}
.filters svg{height:15px;}
.filter{position:relative;}
.dropdown-toggle{width:100%;border:1px solid #efefef;outline:0;line-height:25px;border-radius:.25rem;background:#efefef;font-size:.85em;color:#666;display:block;}
.dark-mode .dropdown-toggle{border:1px solid #262626;background:#262626;color:#ccc;}
.dropdown-toggle .value{color:var(--primary-color);}
.dropdown-menu{position:absolute;top:100%;right:0;z-index:1000;float:left;width:100%;margin:.125rem 0 0;font-size:.94rem;color:#aaa;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;opacity:0;user-select:none;pointer-events:none;}
.filters .dropdown-menu{background:#fff;box-shadow:0 6px 12px rgba(0,0,0,.175);padding:10px;margin-top:1px;font-size:.9em;overflow: hidden;}
.c4:hover {overflow-y: scroll;}
.dark-mode .filters .dropdown-menu{background:#212121;box-shadow:0 6px 12px rgba(0,0,0,.175);}
.filters .dropdown-menu.c4{width:500px;}
.filters .opt{display:grid;grid-template-columns:1fr 1fr;padding:15px;gap:8px;}
.filters .dropdown-toggle{transition:all .15s;padding:0 10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;text-align:center;cursor:pointer;color:#2f2f2f;}
@media screen and (min-width:1280px){.filters .dropdown-menu.lg{max-height:240px;}}
@media screen and (max-width:576px){.filters .dropdown-menu.lg{width:300px;}}
@media only screen and (max-width: 900px){.dropdown-menu{right: 0;left: 0;max-width: unset}}
.hidden{display:none;}
#Genre:checked ~ ul,#Status:checked ~ ul,#Type:checked ~ ul,#Lang:checked ~ ul,#Country:checked ~ ul,#Quality:checked ~ ul{opacity:1;user-select:auto;pointer-events:auto;}
.opt > div:nth-child(2n) .dropdown-menu{left:auto;right:0;}
.filters .dropdown-toggle:hover{background:#d0d0d0;border-color:#d0d0d0;}
.dark-mode .filters .dropdown-toggle:hover{background:#2d2d2d;border-color:#2d2d2d;}
.dark-mode .filters .dropdown-toggle {color:#666}
.chk:checked ~ [for]{background:var(--primary-color);color:white;}
.chk:checked ~ .dropdown-toggle .value{color:white;}
.dropdown-menu{display:grid;gap:5px;}
.c4{grid-template-columns:repeat(auto-fill,minmax(100px,1fr));}
#sidebar .widget {overflow: unset;}
#close,.mystyle #submit {
  display: none;
}
.mystyle #close {
  display: flex;
}
.mystyle {
  position: absolute;
  left: 5px;
  right: 5px;
  border-radius: 5px;
  width: auto;
  background: #17151b;
  padding: 4px;
  margin-right: 0;
	display:flex !important; 
}


.menu-item{display:flex;place-content:center;color:white;background-color:rgba(0,0,0,.4);padding:4px 10px;border-radius:5px;}
.shwx{position:absolute;top:53px;left:0;width:100%;background:#222;z-index:3;height:100%;display:block!important;}
.shwx ul{margin:20px;}
#PageList1.shwx li{border-bottom:none;}
  

.inner_nPL a:first-child{order: 1}
#nPL{display:flex;justify-content:space-between;margin-bottom:20px;}
#nPL,#nPL2{padding:5px;direction: ltr;}
#nPL_select{background:#BBBBBB;border:1px solid #BBBBBB;font-family:inherit;display:block;color:#000;padding:5px 10px;padding-right:25px;border-radius:20px;font-size:13px;-webkit-appearance:none;max-width:160px;}
.inner_nPL,.inner_nPL li{list-style-type:none;margin:0;padding:0;}
.inner_nPL{display:flex;align-items:center;margin-top:10px;}
.inner_nPL li{flex:1;text-align:center;}
.inner_nPL li a{display:block;color:#fff;padding:5px;text-decoration:none;background-color:#00008b;border-radius:5px;}
.inner_nPL a{margin-left:5px;background-color:$(keycolor);}
.inner_nPL a{margin-right:5px;background-color:$(keycolor);}
.inner_nPL a{display:block;padding:2px 15px;border-radius:20px;color:#FFF;font-size:13px;line-height:25px;}
.inner_nPL li a:before,.inner_nPL li.next a:after{content:'';display:inline-block;min-width:20px;min-height:20px;background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24'xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z'fill='%23fff'/%3E%3C/svg%3E");background-position:center;background-repeat:no-repeat;vertical-align:middle}
.inner_nPL li.prev a:before{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24'xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z'fill='%23fff'/%3E%3C/svg%3E")}
.inner_nPL li.next a:before{content:none}
.inner_nPL li.next a:after{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24'xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'fill='%23fff'/%3E%3C/svg%3E")}
.inner_nPL li span{vertical-align:middle}
.inner_nPL .dlx {background: #d50f00;}
.chpName a .new-tag{color:green;margin-left:5px;font-size:10px;background-color:green;color:white;border-radius:3px;padding:0 3px;}
.chpName a:visited .new-tag{color:white;background-color:white;}
.dark-mode .chpName a:visited .new-tag{color:#222222;background-color:#222222;}
.char:hover .new-tag{color:$(keycolor)1c;background-color:$(keycolor)1c;}


@media only screen and (max-width:600px){#nPL{flex-direction:column;align-items:center;}#nPL > div{width:100%;}#nPL_select{width:100%;max-width:100%;}.inner_nPL > a{width:100%;}}
@media only screen and (max-width:350px){.inner_nPL{display:grid;gap:10px;grid-template-columns:repeat(2,1fr);}#dl{grid-column:1/3;}}
  @media only screen and (max-width: 600px)
.customAF.scroll .scrollButton {
  display: none;
}

.m-10{margin:10px;}
#sidebar .active{background-color:$(keycolor);color:white;}
#popular .PopularPosts {display: none}
#popular .PopularPosts.current {display: block} .distbtr{opacity:0}



/* Setting */
  .Hot-tranvu::before{content: "HOT";background: orangered}
  .New-tranvu::before{content: "NEW";background: limegreen}
  .manga-tranvu::before{content: "Manga";background-color:red}
  .manhwa-tranvu::before{content: "Manhwa";background-color:#00CCFF}
  .manhua-tranvu::before{content: "Manhua";background-color:#d61e1e}
  .Ln-tranvu::before{content: "Light novel";background-color:#8000db}
  .Wn-tranvu::before{content: "Web novel";background-color:#0075cf}
  .in-progress-tranvu::before{content: "TIẾN HÀNH";top: 17px;left: -24px;background: #1e90d6}
  .completed-tranvu::before{content: "HOÀN THÀNH";top: 19px;left: -27px;background: #15b33d}
  /* END */
  
  .Hot-tranvu::before,.New-tranvu::before{
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 3px;
    font-weight: 600;
  }
  .manga-tranvu::before,.manhwa-tranvu::before,.manhua-tranvu::before,.Ln-tranvu::before,.Wn-tranvu::before{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    padding: 1.5px 7px;
    font-weight: 600;
    padding-bottom:2px;
  }
.in-progress-tranvu::before,.completed-tranvu::before{
    position: absolute;
    transform: rotate(-45deg);
    color: white;
    padding: 2px 24px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    font-size: 10px;
    font-weight: 500;
  }
  #mainnnv {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(151px,1fr));
    gap: 20px;
    padding: 15px;
}
.bookDetails h3{
  margin:5px 0px 5px 0px;
  overflow: hidden;
  position: relative;
}
.titleSeries {
  font-size:15px;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  color: #333;
  text-decoration: none;
  font-weight:600;
  overflow:hidden;
}
.bookCover {
  overflow:hidden;
  position: relative;
}
.bookCover img{
  width:100%;
  height:auto;
  object-fit:cover;
  border-radius:3px;
}
ul.Chapter-list{
    padding-left: 0;
    list-style: none;
    margin: 0;
}
ul.Chapter-list li a{
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    background: #366ad32e;
    padding: 1px 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight:600;
    color:#366ad3;
    max-width:60%
      
}
ul.Chapter-list li a:visited{
    color:gray
}
ul.Chapter-list li span{
    float:right;
    font-size:65%;
    font-style:italic;
    color:gray
}
.pagination-vu {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #f1f1f1;
}

.pagination-vu ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-vu li {
  display: inline-block;
  margin: 0 5px;
}

.pagination-vu li a {
  display:-webkit-inline-box;
  color: #333;
  text-decoration: none;
  padding: 8px 13px 9px 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translate3d(0, 0, 0);
  margin-top:10px
}

.pagination-vu li a:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
}

.pagination-vu li.active-vu span {
  background-color: #366ad3;
  color: #fff;
  padding: 8px 13px 9px 13px;
  border: 1px solid #366ad3;
  border-radius: 3px;
}

.pagination-vu li.prevZ,
.pagination-vu li.nextZ {
  font-weight: bold;
}

.pagination-vu li.prevZ a span,
.pagination-vu li.nextZ a span {
  position: relative;
  font-family: monospace;
  top: -1.8px;
}

.pagination-vu li.prevZ a:hover,
.pagination-vu li.nextZ a:hover {
  background-color: #e0e0e0;
}
.loaders {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:#366ad3 #0000 #366ad3 #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
    display:flex;
    margin-left:auto;
    margin-right:auto;
 }
 .loaders:before , .loaders:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#366ad3;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loaders:after {
    border-color: #366ad3 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }
  .loader {
          width: 48px;
          height: 48px;
          margin: auto;
          position: relative;
          margin-top:10%;
          margin-bottom:20%
        }
        .loader:before {
            content: '';
            width: 48px;
            height: 5px;
            background: #000;
            opacity: 0.25;
            position: absolute;
            top: 60px;
            left: 0;
            border-radius: 50%;
            animation: shadow 0.5s linear infinite;
          }
          .loader:after {
            content: '';
            width: 100%;
            height: 100%;
            background: #366ad3;
            animation: bxSpin 0.5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
          }
        @keyframes bxSpin {
          17% {
            border-bottom-right-radius: 3px;
          }
          25% {
            transform: translateY(9px) rotate(22.5deg);
          }
          50% {
            transform: translateY(18px) scale(1, .9) rotate(45deg);
            border-bottom-right-radius: 40px;
          }
          75% {
            transform: translateY(9px) rotate(67.5deg);
          }
          100% {
            transform: translateY(0) rotate(90deg);
          }
        }

        @keyframes shadow {
          0%, 100% {
            transform: scale(1, 1);
          }
          50% {
            transform: scale(1.2, 1);
          }
        }
   
@media screen and (max-width: 824px){
#mainnnv {
    grid-template-columns: repeat(auto-fill,minmax(141px,1fr))!important;
 }  
ul.Chapter-list li a {
    max-width:53%
  }
}
.check-box img[data-src]:not(.lazyloaded){width: 48px;height: 48px;background: #FFF;border-radius: 50%;box-sizing: border-box;animation: animloader 1s ease-in infinite;margin-top: 24px;margin-bottom: 24px}@keyframes animloader {0% {transform: scale(0);opacity: 1;}100% {transform: scale(1);opacity: 0;}}
